@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Made by Dmytro for personal use. Please, do not use this application or any of it's parts in commercial purposes.</p>
